<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Contact received from <%= url_for(controller: 'welcome', action: 'index', only_path: false) %> <br /><br />

    <p><strong>From: </strong><%= @contact.name %></p>
    <p><strong>Phone: </strong><%= @contact.phone %></p>
    <p><strong>Email: </strong><%= @contact.email %></p>
    <p><strong>About: </strong><%= @contact.subject %></p>
    <p><strong>Message: </strong> <br /><%= @contact.message %></p>

  </body>
</html>
