<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Contact received from <%= url_for(controller: 'welcome', action: 'index', only_path: false) %> <br /><br />

    <p>From: <strong><%= @contact.name %></strong></p>
    <p>Phone: <strong><%= @contact.phone %></strong></p>
    <p>Email: <strong><%= @contact.email %></strong></p>
    <p>About: <strong><%= @contact.subject %></strong></p>
    <p>Message: <br />
      <strong><%= @contact.subject %></strong></p>

  </body>
</html>
