
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <meta name="google-site-verification" content="BW6vqzxScofdEbTSTfwdvj7CN7LUCZbc4F6lY0ih7Bg" />
 <meta name="keywords" content="jamaica nursing home" />

 <title>The Eulice Utton Homes - Nursing Home in Jamaica</title>

  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


 <script type="text/javascript">

   var _gaq = _gaq || [];
   _gaq.push(['_setAccount', 'UA-30813511-1']);
   _gaq.push(['_trackPageview']);

   (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
   })();

   $(document).ready(function() {
     $('#slideshow').cycle({
       fx: 'fade' // choose your transition type, ex: fade, scrollUp, shuffle, etc...
     });
   });

 </script>
</head>
<body>
 <div id="main-wrap">
 <div id="header" >
   <ul id="nav">
  <li><a href="/">home</a></li>
  <li><a href="/aboutus">about us</a></li>
  <li><a href="/services">services</a></li>
  <li><a href="/contactus">contact us</a></li>
  <li><a href="/testimonials">testimonials</a></li>
  <li><a href="/gallery">photo gallery</a></li>
 </ul>


 <div id="main-photo-shadow">
  <div id="main-photo-canvas">
   <div id="slideshow" class="pics" style="margin-top: 18px;">
     <%= image_tag "photo_home.jpg", size: '827x279', class: "pic", alt: "Home" %>
     <%= image_tag "photo_aboutus.jpg", size: '827x279', class: "pic", alt: "About" %>
     <%= image_tag "photo_services.jpg", size: '827x279', class: "pic", alt: "Services" %>
     <%= image_tag "photo_contactus.jpg", size: '827x279', class: "pic", alt: "Contact" %>
     <%= image_tag "photo_gallery.jpg", size: '827x279', class: "pic", alt: "Gallery" %>
     <%= image_tag "photo_testimonials.jpg", size: '827x279', class: "pic", alt: "Testimonial" %>
   </div>
  </div>
 </div>

 </div>
 <div id="main-content">
  <%= yield %>
 <div class="clear"></div>
</div>


 <div id="footer">&copy;<%= Time.now.year %>  The Eulice Utton Homes | Site by <a href="http://codedry.com">Codedry</a></div>
</div>
</body>
</html>